<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Enter Your Ski Resort Details</h1>
	<br />
	<%= simple_form_for @place do |f| %>
		<%= f.input :name, label: 'Name of Resort' %>
		<%= f.input :address, label: 'Street address (State and zip not needed)' %>
		<%= f.input :country %>
		<%= f.input :state %>
		<%= f.input :description %>
		<br />
		<%= f.submit 'Create', :class => 'btn btn-primary btn-lg' %>
	<% end %>
</div>